@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1336px;
  padding: 0 calc(50vw - 668px);
  font-family: Golos Text;
}

a {
  text-decoration: none;
}

.container {
  width: 1336px;
}

.header {
  height: 700px;
  background-image: url(/img/background-header.png);
  background-repeat: no-repeat;
  padding: 0 72px;
}

.logo {
  display: flex;
  padding-top: 26px;
  gap: 6.35px;
}
.logo_text {
  color: rgb(89, 86, 83);
  font-family: Golos Text;
  font-size: 16.65px;
  font-weight: 700;
  line-height: 108%;
  text-align: left;
  text-transform: uppercase;
}

.top__info {
  max-width: 542px;
  margin-top: 62px;
}
.top__info_header {
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  color: #313131;
  text-transform: uppercase;
}
.top__info_header-center {
  text-align: center;
}
.top__info_description {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: center;
  color: #313131;
}
.top__info_btn {
  display: inline-block;
  width: 263px;
  height: 72px;
  margin-top: 40px;
  padding: 6px;
  border: 2px solid #1F1F1F;
  border-radius: 50px 50px 50px 50px;
  opacity: 0px;
  font-family: Golos Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: center;
}
.top__info_btn1 {
  background-color: #1F1F1F;
  color: #FFFFFF;
}
.top__info_btn2 {
  background-color: #FFFFFF;
  color: #1F1F1F;
}
.top__info_btn1:hover {
  border-color: #FBCE51;
  background-color: #FBCE51;
  color: #1F1F1F;
}
.top__info_btn2:hover {
  background-color: #1F1F1F;
  color: #FFFFFF;
}

.running__line {
  width: 100%;
  height: 60px;
  background: red;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.running__line_text {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: right;
  text-transform: uppercase;
  display: inline-block;
  animation: marquee1 20s infinite linear;
  animation-delay: -10s;
}

@keyframes marquee1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.advertisement {
  padding: 80px 72px 0 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advertisement__left_text {
  font-family: Merriweather;
  color: rgb(49, 49, 49);
  font-size: 36px;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.advertisement__left_block {
  display: none;
}

.selected_text {
  color: red;
}

.schedule {
  padding: 64px 72px 0 72px;
  display: flex;
  justify-content: space-between;
}
.schedule__right_header {
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.schedule__right_table {
  margin-top: 60px;
  margin-bottom: 40px;
}
.schedule__right_text {
  display: flex;
  border-bottom: 2px solid rgb(208, 208, 208);
}
.schedule__right_text-question {
  border-right: 2px solid rgb(208, 208, 208);
  padding: 16px 0;
  display: inline-block;
  width: 290px;
  color: rgb(49, 49, 49);
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
}
.schedule__right_text-answer {
  padding: 16px 0 16px 16px;
  display: inline-block;
  width: 382px;
  color: rgb(49, 49, 49);
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
}
.schedule__right_table :last-child {
  border-bottom: none;
}
.schedule__right_footnote {
  color: rgb(48, 87, 162);
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
}

.stages {
  padding: 65px 72px 0 72px;
}
.stages__headers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  max-width: 800px;
}
.stages__headers_header {
  color: rgb(49, 49, 49);
  font-family: Merriweather;
  font-size: 54px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.stages__headers_text {
  color: #3057A2;
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.stages__cards {
  margin-bottom: 28px;
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 25px;
  position: relative;
}
.stages__cards_card {
  background-color: #e6d9c7;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  gap: 16px;
}
.stages__cards_card-circle {
  width: 36px;
  height: 36px;
  padding: 4px 12px;
  color: rgb(49, 49, 49);
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 60px;
  background: rgb(255, 255, 255);
}
.stages__cards_card-text {
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.stages__cards_card-img {
  position: absolute;
  left: 890px;
  top: 150px;
}
.stages__cards_card-1, .stages__cards_card-2, .stages__cards_card-4, .stages__cards_card-5, .stages__cards_card-6 {
  width: 394px;
  height: 112px;
  grid-column-end: span 1;
}
.stages__cards_card-6 {
  height: 136px;
}
.stages__cards_card-3 {
  width: 394px;
  height: 224px;
  grid-column-end: span 1;
  grid-row-end: span 2;
}
.stages__cards_card-7 {
  width: 813px;
  height: 136px;
  grid-column-end: span 2;
}
.stages__cards_card-1-2, .stages__cards_card-4-5 {
  display: none;
}
.stages__nav {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.stages__nav-btn1 {
  width: 44px;
  height: 44px;
  border: 2px solid black;
  background-color: black;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
}
.stages__nav-btn1:hover {
  border: 2px solid #FBCE51;
  background-color: #FBCE51;
}
.stages__nav-value {
  font-family: Golos Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.stages__nav-btn2 {
  width: 44px;
  height: 44px;
  border: 2px solid black;
  background-color: black;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
}
.stages__nav-btn2:hover {
  border: 2px solid #FBCE51;
  background-color: #FBCE51;
}
.stages__nav-btn1::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(45deg);
}
.stages__nav-btn2::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 16px;
  height: 16px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(-135deg);
}
.stages__nav_indicator {
  display: flex;
  gap: 6px;
}
.stages__nav_indicator-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(217, 217, 217);
}

.participants {
  padding: 250px 40px 140px 72px;
}
.participants__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
.participants__top_header {
  color: rgb(49, 49, 49);
  font-family: Merriweather;
  font-size: 54px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.participants__top_nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.participants__top_nav-btn1 {
  width: 44px;
  height: 44px;
  border: 2px solid black;
  background-color: black;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
}
.participants__top_nav-btn1:hover {
  border: 2px solid #FBCE51;
  background-color: #FBCE51;
}
.participants__top_nav-value {
  font-family: Golos Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.participants__top_nav-btn2 {
  width: 44px;
  height: 44px;
  border: 2px solid black;
  background-color: black;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
}
.participants__top_nav-btn2:hover {
  border: 2px solid #FBCE51;
  background-color: #FBCE51;
}
.participants__top_nav-btn1::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(45deg);
}
.participants__top_nav-btn2::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 16px;
  height: 16px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(-135deg);
}
.participants__cards {
  display: flex;
  gap: 20px;
}
.participants__cards_card.active {
  display: flex;
}
.participants__cards_card {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 394px;
}
.participants__cards_card-name {
  padding: 28px 0 6px 0;
  font-family: Golos Text;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
}
.participants__cards_card-status {
  padding-bottom: 20px;
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.participants__cards_card-btn {
  width: 113px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid rgb(48, 87, 162);
  border-radius: 62px;
  color: rgb(48, 87, 162);
  font-family: Golos Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
}
.participants__cards_card-btn:hover {
  color: #FFFFFF;
  background-color: rgb(48, 87, 162);
}

.footer {
  padding: 40px 72px 72px 72px;
  background-color: #E9DED4;
}
.footer_text {
  color: rgb(49, 49, 49);
  font-family: Golos Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 376px) {
  .header {
    height: 812px;
    background-image: url(/img/background-header-375px.png);
    padding: 0 20px;
  }
  .logo {
    display: flex;
    padding: 18px 0 0 20px;
    gap: 2px;
  }
  .logo_text {
    font-size: 14.42px;
  }
  .top__info {
    max-width: 335px;
    margin-top: 40px;
  }
  .top__info_header {
    font-size: 36px;
    font-weight: 400;
  }
  .top__info_header-center {
    text-align: center;
  }
  .top__info_description {
    text-align: left;
  }
  .top__info_btn {
    width: 335px;
    height: 47px;
    padding: 6px;
  }
  .top__info_btn1 {
    margin-top: 32px;
  }
  .top__info_btn2 {
    margin-top: 14px;
  }
  .top__info_btn2 br {
    display: none;
  }
  .running__line {
    max-width: 375px;
  }
  .advertisement {
    padding: 48px 20px 0 20px;
    display: block;
  }
  .advertisement__left {
    max-width: 335px;
  }
  .advertisement__left_text {
    font-size: 28px;
    font-weight: 400;
  }
  .advertisement__left_block {
    display: block;
    width: 335px;
  }
  .advertisement__right {
    display: none;
  }
  .selected_text {
    color: red;
  }
  .schedule {
    padding: 21px 20px 20px 20px;
    display: block;
  }
  .schedule_img {
    width: 335px;
  }
  .schedule__right_header {
    width: 335px;
    font-size: 28px;
  }
  .schedule__right_table {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .schedule__right_text {
    width: 335px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(208, 208, 208);
  }
  .schedule__right_text-question {
    border-right: none;
    padding: 16px 0 12px 0;
  }
  .schedule__right_text-answer {
    padding: 0 0 16px 0;
  }
  .schedule__right_footnote {
    width: 335px;
    font-size: 18px;
  }
  .stages {
    padding: 65px 20px 0 20px;
  }
  .stages__headers {
    flex-direction: column;
    align-items: start;
    max-width: 335px;
  }
  .stages__headers_header {
    font-size: 36px;
    line-height: 110%;
  }
  .stages__headers_text {
    font-size: 18px;
    margin-bottom: 148px;
  }
  .stages__cards {
    margin-top: 54px;
    display: flex;
    gap: 20px;
  }
  .stages__cards_card {
    padding-top: 62px;
  }
  .stages__cards_card-text {
    width: 243px;
    font-size: 18px;
  }
  .stages__cards_card-img {
    width: 335px;
    position: absolute;
    left: 0px;
    top: -136px;
  }
  .stages__cards_card-none {
    display: none;
  }
  .stages__cards_card-1-2 {
    display: none;
  }
  .stages__cards_card-3, .stages__cards_card-6, .stages__cards_card-7, .stages__cards_card-1-2, .stages__cards_card-4-5 {
    width: 335px;
    height: 300px;
  }
  .stages__cards_card-3 {
    display: flex;
  }
  .stages__cards_card-6, .stages__cards_card-7, .stages__cards_card-4-5 {
    display: none;
  }
  .stages__cards_card-2, .stages__cards_card-5 {
    padding-top: 28px;
  }
  .stages__cards_card-1, .stages__cards_card-2, .stages__cards_card-4, .stages__cards_card-5 {
    width: 335px;
    height: 150px;
  }
  .stages__nav {
    max-width: 335px;
    display: flex;
  }
  .participants {
    padding: 120px 20px 140px 20px;
    position: relative;
  }
  .participants__top_header {
    font-size: 36px;
    font-weight: 400;
    line-height: 110%;
  }
  .participants__top_nav {
    position: absolute;
    top: 765px;
    left: 100px;
  }
  .participants__cards_card {
    width: 335px;
  }
  .footer {
    max-width: 375px;
    padding: 78px 20px 60px 20px;
    background-color: #E9DED4;
  }
  .footer_text {
    width: 318px;
  }
}/*# sourceMappingURL=style.css.map */